body {
  background-color: pink;
}

.page-heading {
  width: 60%;
  min-width: 1050px;
  display: inline-block;
  background-color: DarkOrchid;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-style: solid;
  border-bottom: none;
}
h1 {
  font-family: sans-serif;
  text-align: left;
  font-size: 35pt;
}
.image {
  padding-right: 1em;
  padding-left: 1em;
}
.menu-item {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 20pt;
  width: 140px;
  height: 40px;
  border-style: solid;
  padding-top: .3em;
  text-align: center;
  display: block;
}
.menu-item:hover {
  background-color: DarkSalmon;
}
.menu-item-dropdown {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 20pt;
  width: 140px;
  height: 40px;
  border-style: solid;
  padding-top: .3em;
  text-align: center;
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  text-decoration: none;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
}
.menu-item-dropdown:hover {
  background-color: DarkSalmon;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-item {
  display: block;
  text-decoration: none;
  border: solid;
  padding: .5em;
  font-size: 14pt;
  background-color: plum;
}
.display-inline {
    display: inline;
}
.display-inline-block {
    display: inline-block;
}

.main-content {
  width: 35%;
  min-width: 612px;
  height: 50%;
  min-height: 500px;
  background-color: LightSeaGreen;
  margin: 0%;
  padding: .7em;
  border-style: solid;
}

.side-content {
  position: fixed;
  left: 36.5%;
  top: 18.3%;
  width: 25.55%;
  min-width: 437px;
  height: 50%;
  min-height: 500px;
  background-color: GreenYellow;
  margin: 0%;
  padding: .7em;
  border-style: solid;
}
.list-o-stuff {
  font-size: 15pt;
}
