body {

}

.firstimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../images/walrus.jpg");
  min-height: 100vh;
}

.secondimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../images/morewalrus.jpg");
  min-height: 100vh;
}

.thirdimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../images/lotswalrus.jpg");
  min-height: 100vh;
}

.walruses {
  text-align: center;
}

.caption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
